In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import xgboost as xgb
import pickle
import os

In [2]:
# Read meat prices into dataframe
csv_path = Path('../resources/historic_meat_prices.csv')

historic_meat_prices_df = pd.read_csv(csv_path)
historic_meat_prices_df.head()

,Month,Chicken Price,Chicken Price Change,Lamb Price,Lamb Price Change,Pork Price,Pork Price Change,Beef Price,Beef Price Change
0,Sep 1992,1.08,-,2.80,-,53.85,-,2.44,-
1,Oct 1992,1.06,-1.85%,2.52,-10.00%,53.76,-0.17%,2.50,2.46%
2,Nov 1992,1.09,2.83%,2.55,1.19%,56.06,4.28%,2.54,1.60%
3,Dec 1992,1.09,0.00%,2.72,6.67%,53.17,-5.16%,2.54,0.00%
4,Jan 1993,1.11,1.83%,2.69,-1.10%,59.14,11.23%,2.35,-7.48%

In [4]:
# slice DataFrame for only chicken prices
chicken_df = historic_meat_prices_df.loc[:, ['Month', 'Chicken Price']]
chicken_df.head()

      Month  Chicken Price
0  Sep 1992           1.08
1  Oct 1992           1.06
2  Nov 1992           1.09
3  Dec 1992           1.09
4  Jan 1993           1.11

In [5]:
# Get dytpes
chicken_df.dtypes

Month             object
Chicken Price    float64
dtype: object

In [11]:
# change Month into datetime object
chicken_df['Month'] = pd.to_datetime(chicken_df['Month'], format='%b %Y')
chicken_df.head()

       Month  Chicken Price
0 1992-09-01           1.08
1 1992-10-01           1.06
2 1992-11-01           1.09
3 1992-12-01           1.09
4 1993-01-01           1.11

In [12]:
# Check dtypes
chicken_df.dtypes

Month            datetime64[ns]
Chicken Price           float64
dtype: object